<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>
<body>
<h2>Hello {{name}}! </h2>
<br>
<p>To reset your password, please visit the following link</p>
<p>{{link}}</p>
<p>This link will expire in 1 hour.<p/>
<br>
<p>Cheers!</p>
</body>
</html>
